<!DOCTYPE html>
<html>
<head>
    <title>Espaciapp Tutor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
        body{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            margin: 15px;
            color: var(--morado-oscuro);
        }
        :root{
            --morado-oscuro: #210571;
        }
        .boton{
            color: white;
            background-color: var(--morado-oscuro);
            margin: 5px;
        }
    </style>
</head>
<body>
    <h1 style="color: var(--morado-oscuro);"><strong>Publicar Espacio</strong></h1>
    
    <div id="map"></div><br>

    <form method="post" action="/publicar" enctype="multipart/form-data">
        Coordenadas: 
        <input class="form-control" type="number" name="latitude" id="latitude" step="any" required>
        <input class="form-control" type="number" name="longitude" id="longitude" step="any" required>
        Direccion:
        <input class="form-control" type="text" name="direccion" id="direccion" required>
        Aforo:
        <input class="form-control" type="number" name="aforo" id="aforo" value="5">
        Horario inicio:
        <input class="form-control" type="time" name="horario_inicio" id="horario_inicio" value="09:00">
        Horario fin:
        <input class="form-control" type="time" name="horario_fin" id="horario_fin" value="19:00">
        Precio:
        <input class="form-control" type="number" name="precio" id="precio" value="15">
        Número telefónico:
        <input class="form-control" type="tel" name="phone" id="phone" pattern="[0-9]{9}" value="994595554">

        Imagen Referencial:
        <input class="form-control-file" type="file" name="image" id="image" accept="image/png;base64" required>

        <input class="btn boton" type="submit" value="Publicar">
    </form>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        function getCookie(cookieName) {
            let cookie = {};
            document.cookie.split(';').forEach(function(el) {
                let [key,value] = el.split('=');
                cookie[key.trim()] = value;
            })
            return cookie[cookieName];
        }
        // Function to initialize the map
        function initMap(latitude, longitude) {
            var map = L.map('map').setView([latitude, longitude], 25);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
                maxZoom: 18,
            }).addTo(map);
            
            
            var marker = L.marker([latitude, longitude]).addTo(map);
            marker.bindPopup("Tú ubicación").openPopup();

            map.on('click', function(e) {
                var lat = e.latlng.lat;
                var lng = e.latlng.lng;
                console.log('Latitude: ' + lat + ', Longitude: ' + lng);
                document.getElementById("latitude").value = lat;
                document.getElementById("longitude").value = lng;

                var temp_marker = L.marker([lat, lng]).addTo(map);
                marker.bindPopup("Lugar").openPopup();
            });

            
        }
        
        // Function to handle errors in geolocation
        function handleLocationError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        }
        
        // Function to get the user's current position
        function getUserPosition() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    initMap(latitude, longitude);
                }, function(error) {
                    handleLocationError(error);
                });
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
        
        // Call the function to get the user's position and initialize the map
        getUserPosition();
    </script>
</body>
</html>
