<!DOCTYPE html>
<html>
<head>
    <title>Espaciapp Tutor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
        body{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            margin: 15px;
        }
        :root{
            --morado-oscuro: #210571;
        }
        .boton{
            color: white;
            background-color: var(--morado-oscuro);
            margin: 5px;
        }

    </style>
</head>
<body>
    <h1 style="color: var(--morado-oscuro);"><strong>Búsqueda de espacios</strong></h1>
    
    <div id="map"></div><br>
    <button class="btn boton" id="addMarkerButton">Buscar</button>
    <a class="btn boton" href="/reservas">Ver Reservas</a>
    
    <h1 style="color: var(--morado-oscuro);"><strong>Detalles del lugar</strong></h1>
    <p id="descripcion"></p>
    <button class="btn boton" id="btn_reservar" onclick="verNumero()" disabled>Reservar</button>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        function getCookie(cookieName) {
            let cookie = {};
            document.cookie.split(';').forEach(function(el) {
                let [key,value] = el.split('=');
                cookie[key.trim()] = value;
            })
            return cookie[cookieName];
        }

        let seleccion_pub = null;

        let funcion_reservar = (id_publicacion) => {
            fetch("/nuevareserva/"+id_publicacion.toString(), {
                method: "POST"
            })
        }

        function verNumero(){
            funcion_reservar(seleccion_pub);
            alert("Reserva creada. Llamar al siguiente número para mayor coordinación: " +telefono)
        }
        var telefono = 0;
        function publicaciones(){
            return fetch("/publicaciones").then(r => r.json())
        }

        function crear_descripcion(pub){
            return `
                <p>Direccion: ${pub["direccion"]}</p>
                <p>Aforo: ${pub["aforo"]}</p>
                <p>Inicio: ${pub["horario_inicio"]}</p>
                <p>Fin: ${pub["horario_fin"]}</p>
                <img height="200px" src="data:image/png;base64,${pub['image']}" alt="Image">
            `
        }

        // Function to initialize the map
        function initMap(latitude, longitude) {
            var map = L.map('map').setView([latitude, longitude], 25);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
                maxZoom: 18,
            }).addTo(map);
            
            var marker = L.marker([latitude, longitude]).addTo(map);
            marker.bindPopup("Tú ubicación").openPopup();

            document.getElementById('addMarkerButton').addEventListener('click', async function() {
                var pubs = await publicaciones()
                console.log(pubs)

                pubs.forEach(function(pub) {
                    var marker = L.marker([pub.latitude, pub.longitude])
                        .bindPopup("S/ "+pub.precio.toString()) // Set autoOpenPopup to true
                        .addTo(map);
                    
                    marker.on('click', function() {
                    // Perform an action based on the marker index
                        console.log('Marker index: ' + pub.desc);
                        // document.getElementById("descripcion").innerHTML = pub.desc + '<img height="200px" src="data:image/png;base64,'+pub.image+'" alt="Image">';
                        document.getElementById("descripcion").innerHTML = crear_descripcion(pub)
                        document.getElementById("btn_reservar").disabled = false;
                        telefono = pub.phone
                        console.log(telefono)
                        seleccion_pub = pub.id
                        // Add your custom code here to perform the desired action based on the marker index
                    });
                })
            });

            
        }
        
        // Function to handle errors in geolocation
        function handleLocationError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        }
        
        // Function to get the user's current position
        function getUserPosition() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    initMap(latitude, longitude);
                }, function(error) {
                    handleLocationError(error);
                });
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
        
        // Call the function to get the user's position and initialize the map
        getUserPosition();
    </script>
</body>
</html>
