<!DOCTYPE html>
<html>
<head>
    <title>Espaciapp Tutor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
        body{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            margin: 15px;
        }
        :root{
            --morado-oscuro: #210571;
        }
        .boton{
            color: white;
            background-color: var(--morado-oscuro);
            margin: 5px;
        }

    </style>
</head>
<body>
    <h1 style="color: var(--morado-oscuro);"><strong>Búsqueda de espacios</strong></h1>
    
    <div id="map"></div><br>
    <button class="btn boton" id="addMarkerButton">Buscar</button>
    
    <h1 style="color: var(--morado-oscuro);"><strong>Detalles del lugar</strong></h1>
    <p id="descripcion"></p>
    <button class="btn boton" id="btn_reservar" onclick="verNumero()" disabled>Reservar</button>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        function verNumero(){
            alert("Llamar al sgte número: " +telefono)
        }
        var telefono = 0;
        function publicaciones(){
            return fetch("http://localhost:5000/publicaciones").then(r => r.json())
        }
        // Function to initialize the map
        function initMap(latitude, longitude) {
            var map = L.map('map').setView([latitude, longitude], 25);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
                maxZoom: 18,
            }).addTo(map);
            
            var marker = L.marker([latitude, longitude]).addTo(map);
            marker.bindPopup("Tú ubicación").openPopup();

            document.getElementById('addMarkerButton').addEventListener('click', async function() {
                var pubs = await publicaciones()
                console.log(pubs)

                pubs.forEach(function(pub) {
                    var marker = L.marker([pub.lat, pub.lng])
                        .bindPopup("S/ "+pub.precio.toString()) // Set autoOpenPopup to true
                        .addTo(map);
                    
                    marker.on('click', function() {
                    // Perform an action based on the marker index
                        console.log('Marker index: ' + pub.desc);
                        document.getElementById("descripcion").innerHTML = pub.desc;
                        document.getElementById("btn_reservar").disabled = false;
                        telefono = pub.phone
                        console.log(telefono)
                        // Add your custom code here to perform the desired action based on the marker index
                    });
                })


                // var lat = /* Add latitude value */;
                // var lng = /* Add longitude value */;
                // addMarker(lat, lng);
                /* var markers = [
                    {lat: latitude+0.0008, lng: longitude-0.0008, title: "$15"},
                    {lat: latitude-0.0008, lng: longitude+0.0008, title: "$20"},
                    {lat: latitude, lng: longitude+2*0.0008, title: "$25"},
                    // Add more markers as needed
                ];
                
                // Loop through the markers array and add markers to the map
                markers.forEach(function(marker) {
                    L.marker([marker.lat, marker.lng])
                        .bindPopup(marker.title, { autoOpen: true }) // Set autoOpenPopup to true
                        .addTo(map);
                }); */
            });

            
        }
        
        // Function to handle errors in geolocation
        function handleLocationError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        }
        
        // Function to get the user's current position
        function getUserPosition() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    initMap(latitude, longitude);
                }, function(error) {
                    handleLocationError(error);
                });
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
        
        // Call the function to get the user's position and initialize the map
        getUserPosition();
    </script>
</body>
</html>
